html, body {
    background-color: beige;
	display: flex;
	flex-direction: column;
}

.header {
	display: flex;
	font-family: 'Press Start 2P';
	align-items: center;
	justify-content: center;
	padding: 32px;
}

.board {
    display: flex;
	justify-content: center;
}

.canvas {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    width: 500px;
    height: 500px;
	background-color: #ffffff;
	box-shadow: 10px 10px;
	aspect-ratio: 1 / 1;
	margin: 32px;
}

.box {
    aspect-ratio: 1 / 1;
}

.settingsPanel {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.slider {
	-webkit-appearance: none;
	width: 500px;
	height: 25px;
	background: #ffffff;
	outline: none;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
	outline: solid 1px black;
}

.slider::-webkit-slider-thumb{
	-webkit-appearance: none;
	width: 25px;
	height: 25px;
	background: #ff0000;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #ff0000;
	cursor: pointer;
}
