html, body {
    background-color: beige;
}
.canvas {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(16, 1fr);
    width: 500px;
    height: 500px;
}

.box {
    border: solid 1px black;
    flex: 1;
    aspect-ratio: 1 / 1;
}

